
{% extends 'student_template/base_template.html' %}
{% block custom_css %}
<style>
.col-lg-4.attendance_div_red {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #f4433600;
    border: 3px solid #f44336;
    text-align: center;
    color: rgb(255, 0, 0);
    border-radius: 30px;
    box-shadow: 1px 1px 1px rgba(228, 0, 0, 0.7);
    margin-top: 10px;
    margin-bottom: 10px;
}
.col-lg-4.attendance_div_green {
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #28a74500;
    border: 3px solid green;
    text-align: center;
    color: #0db734;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #19d2039e;
    margin-top: 10px;
    margin-bottom: 10px;
}
</style>
{% endblock custom_css %}
{% block page_title %}
Attendance Details
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
                    <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Attendace Details</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                    <div class="row">
                        
                        {% for attendence_report in attendence_report %}
                        {% if attendence_report.status == True %}
                            <div class="col-lg-4 attendance_div_green">
                                <b>Date : {{ attendence_report.attendance_id.attendance_date }}</b>
                                <br>
                                <b>Status : Present</b>
                            </div> 
                                {% else %}
                                <div class="col-lg-4 attendance_div_red">
                                    <b>Date : {{ attendence_report.attendance_id.attendance_date }}</b>
                                    <br>
                                    <b>Status : Absent</b>
                                </div>
                                {% endif %} 
                        {% endfor %}
                            
                    </div>
            </div>
      
            <!-- /.card -->



          </div>
          </div>
      </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
