{% extends 'staff_template/base_template.html' %}
{% block page_title %}
Feedback Message
{% endblock page_title %}
{% block main_content %}
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Feedback Message</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="/staff_feedback_save" method="post">
                  {% csrf_token %}
                <div class="card-body">
                  
                  <div class="form-group">
                    <label>Feedback Message</label>
                    <textarea class="form-control" rows="6" name="feedback_message"></textarea>
                  </div>
                      <div class="form-group">
                      {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                        {% endif %}
                        {% endfor %}
                      {% endif %}
                    </div>

                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">Submit Message</button>
                </div>
              </form>
            </div>
            <!-- /.card -->
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Feedback History</h3>
                </div>

                <div class="table">
                    <table class="table">
                        <tr>
                        <th>ID</th>
                        <th>Feedback Message</th>
                        <th>Feedback Replay</th>
                        </tr>
                        
                        {% for feedback in feedback %}
                        <tr>
                            <td>{{feedback.id}}</td>
                            <td>{{feedback.feedback}}</td>
                            <td>{{feedback.feedback_reply}}</td>
                        </tr>  
                        {% endfor %}
                            
                    </table>

                </div>
              
                
              </div>

          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

